apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "org_name": "your_org_name",
      "base_url": "okta.com",
      "http_proxy": "",
      "access_token": "y0ur-t0k3n",
      "api_token": "y0ur-aP1-t0k3n",
      "client_id": "client_id",
      "scopes": "scopes",
      "private_key": "private_key",
      "private_key_id": "private_key_id",
      "backoff":"true",
      "min_wait_seconds":"30",
      "max_wait_seconds":"300",
      "max_retries":"5",
      "request_timeout":"0"
    }
